<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <nav class="site-header sticky-top py-1" th:fragment="header">
        <div class="container d-flex flex-column flex-md-row justify-content-between">
            <a class="py-2" aria-label="Product" title="Original:  Rob Janoff / Public domain" th:href="@{https://commons.wikimedia.org/wiki/File:Apple_logo_dark_grey.svg}">
                <img width="32" alt="Apple logo dark grey" th:src="@{https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/Apple_logo_dark_grey.svg/32px-Apple_logo_dark_grey.svg.png}">
            </a>
            <a class="py-2 d-none d-md-inline-block" href="#">Mac</a>
            <a class="py-2 d-none d-md-inline-block" href="#">iPad</a>
            <a class="py-2 d-none d-md-inline-block" href="#">iPhone</a>
            <a class="py-2 d-none d-md-inline-block" href="#">Watch</a>
            <a class="py-2 d-none d-md-inline-block" href="#">Music</a>
            <a class="py-2 d-none d-md-inline-block" href="#">고객지원</a>
            <a class="py-2 d-none d-md-inline-block" href="#">Search</a>
            <a class="py-2 d-none d-md-inline-block" href="#">Cart</a>
        </div>
    </nav>
</footer>

</html>